.button {
  color: hsl(0, 0%, 100%);
  line-height: 1;
  background: hsl(224, 30%, 27%);
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.button:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 100vw;
}
.button:hover:before {
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  color: hsl(224, 30%, 27%);
}

.section-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.result-summary {
  max-width: 46rem;
  display: grid;
}

.results {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 2rem 2rem;
  padding: 2.5rem 3.75rem;
}

.summary {
  padding: 2.5rem;
}

.grid-flow {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.grid-flow[data-spacing=large] {
  gap: 2rem;
}

.result-score {
  width: 12rem;
  margin: auto;
  background: linear-gradient(hsl(256, 72%, 46%), hsl(241, 72%, 46%));
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}

.result-score span {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  color: hsl(0, 0%, 100%);
}

.result-rank {
  color: hsl(0, 0%, 100%);
  font-size: 1.75rem;
  font-weight: 700;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.data-one {
  background-color: rgba(255, 87, 87, 0.1);
}

.data-two {
  background-color: rgba(255, 176, 31, 0.1);
}

.data-three {
  background-color: rgba(0, 189, 145, 0.1);
}

.data-four {
  background-color: rgba(120, 87, 255, 0.1);
}

.summary-item-title {
  font-weight: 700;
}

.title-one {
  color: rgba(255, 87, 87, 0.8);
}

.title-two {
  color: rgba(255, 176, 31, 0.8);
}

.title-three {
  color: #00bd91;
}

.title-four {
  color: rgba(17, 37, 212, 0.9);
}

.summary-score {
  font-weight: 800;
  color: rgba(48, 59, 90, 0.5);
}

.summary-score span {
  color: hsl(224, 30%, 27%);
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .result-summary {
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    box-shadow: 0.5rem 1rem 3rem rgba(48, 59, 90, 0.2);
    margin-inline: 1rem;
  }
  .results {
    border-radius: 2rem;
  }
}
