@import "components/colors";

*{
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;    
    font-size: 1.125rem;
    color: $Dark-gray-blue;
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display:grid;
        place-items: center;
    }
}

.section-title {
    font-weight: 700;
    font-size: 1.75rem;
}