@import "components/colors";
@import "components/button";

$padding: 2.5rem;

*{
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;    
    font-size: 1.125rem;
    color: $dark-gray-blue;
}

.section-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.result-summary {
    max-width: 46rem;
    display: grid;        
}

.results {
    background: linear-gradient($light-blue, $light-royal-blue);
    text-align: center;
    color: $white-light;
    border-radius: 0 0 2rem 2rem;
    padding: $padding calc($padding * 1.5);
}

.summary {
    padding: $padding;
}

.grid-flow {
    display: grid;
    gap: 1rem;
    align-content: start;
}

.grid-flow[data-spacing="large"] {
    gap: 2rem;
}

.result-score {
    width: 12rem;
    margin: auto;
    background: linear-gradient($violet-blue, $persian-blue);
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
}

.result-score span {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    color: $white;

}

.result-rank {
    color: $white;
    font-size: 1.75rem;
    font-weight: 700;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    }

.flex-group {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.data-one {
    background-color: rgba($light-red, .1);    
}

.data-two {
    background-color: rgba($light-yellow, 0.1);
}

.data-three {
    background-color: rgba($light-green, 0.1);
}

.data-four {
    background-color: rgba($light-blue, 0.1);
}

.summary-item-title {
    font-weight: 700;    
}

.title-one {
    color: rgba($light-red, .8);
}

.title-two {
    color: rgba($light-yellow, 0.8);
}

.title-three {
    color: rgba($light-green, 1);
}

.title-four {
    color: rgba($cobalt-blue, .9);
}

.summary-score {
    font-weight: 800;
    color: rgba($dark-gray-blue, .5);
}

.summary-score span {
    color: $dark-gray-blue;
}



@media (min-width: 600px) {

    body {
        min-height: 100vh;
        display:grid;
        place-items: center;
    }

    .result-summary {
        grid-template-columns: 1fr 1fr;
        border-radius: 2rem;    
        box-shadow: .5rem 1rem 3rem rgba($dark-gray-blue, .2); 
        margin-inline: 1rem;            
    }

    .results {
        border-radius: 2rem;
    }
}

